@font-face {
  font-family: zeroOneDigit;
  src: url(01digit.ttf);
}

body {
  background-color: #ddd;
}
.orangeBorder {
  border-style: solid;
  border-width: 4px;
  border-color: #a22;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
}
.digital {
  font-family: zeroOneDigit;
  text-align: center;
  background: #880;
}
#timerBox {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  border-radius: 50%;
  background-color: #500;
  box-shadow: 10px 10px 5px grey;
}
div.clockFace {
  width: 300px;
  margin: 100px auto 10px auto;
  padding: 0px 15px;
  font-size: 50px;
}
div.buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0px 25px;
}
div.adjButtonBox {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
div.startButtonBox{
  text-align: center; 
}
div.adjDiv {
  width: 60px;
  height: 45px;
  font-size: 35px;
  text-align: center;
  padding: -3px 25px;
}
button {
  background: #300;
}
.adjButton {
  font-size: 20px;
  height: 35px;
  width: 35px;
}
#start {
  font-size: 50px;
  padding: -3px 25px;
}

